@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.underlineAbout {
	width: 180px;
	height: 2px;
	background-color: #ff001f;
}

.calender-img {
	width: 36rem;
}

h3.about-top {
	margin-top: 8rem !important;
	margin-bottom: 2rem;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
}

p.about-text {
	font-size: 20px;
	font-family: "Montserrat", sans-serif;
}
