.carouselImg {
  height: 200px;
  width: 350px;
}
.BrainhubCarousel__arrowRight {
  background-color: #ff4b2b;
}
.BrainhubCarousel__arrowLeft {
  background-color: #ff4b2b;
}
.buttonImg {
  width: 50%;
  color: white;
  background-color: #ff4b2b !important;
  border-color: #ff4b2b !important;
}
