.inputText {
  border: 1px solid #ff001f !important;
}
.subLabel {
  font-size: 25px;
}
.toggleButton {
  background-color: #ff001f !important;
  border-color: #ff001f !important;
}
.inputPrepand {
  border: 1px solid #ff001f !important;
  background-color: #ff001f !important;
  color: white !important;
}
.save {
  background: linear-gradient(90deg, #ff001f 50%, rgba(255, 0, 31, 0.85) 120%);
  border-color: #ff001f !important;
}
