
.inputText{
    border:1px solid #FF001F !important;
}
.subLabel{
    font-size: 25px;
}
.toggleButton{
    background-color: #FF001F !important;
    border-color: #FF001F !important;
}
.inputPrepand{
    border:1px solid #FF001F !important;
    background-color: #FF001F !important;
    color: white !important;
}
.save{
    background: linear-gradient(90deg, #FF001F 50%, rgba(255, 0, 31, 0.85) 120%);
    border-color: #FF001F !important;
}
.underline{
    width: 115px; 
    height:2px; 
    background-color: #ff001f;
  }
  .underlineLocation{
    width: 100px; 
    height:2px; 
    background-color: #ff001f;
  }
  .underlineDetail{
    width: 120px; 
    height:2px; 
    background-color: #ff001f;
  }