.underlineEvent {
  width: 220px;
  height: 2px;
  background-color: #ff001f;
}

.inputText {
  border: 1px solid #ff001f !important;
  width: 15rem;
}
.subLabel {
  font-size: 22px;
}
.toggleButton {
  background-color: #ff001f !important;
  border-color: #ff001f !important;
}

/* .formCreate {
  Masukin Background Foto Disini 
}  */

.inputPrepend {
  border: 1px solid #ff001f !important;
  background-color: #ff001f !important;
  color: white !important;
  padding: 0.4rem;
}

.imageShow {
  margin: 10px 0;
  width: 200px;
  height: 200px;
}

img.imagePreview{
  width: 100%;
  height: 100%;
}

.save {
  background: linear-gradient(90deg, #ff001f 50%, rgba(255, 0, 31, 0.85) 120%);
  border-color: #ff001f !important;
}
.orgRow {
  padding-left: 32px;
}
.createEventCard {
  width: 40rem;
  margin: 1rem 0rem 2rem 2rem;
}

.containerCreate {
  border: 1px solid #ff001f !important;
}
@media all and (max-width:321px) {
  .containerCreate{
    margin-top: 100px;
    width: 300px !important;
    margin-left: 10px;
  }
  .descText{
    width: 230px !important;
  }
}
.smallCreate{
  font-size: 12px;
  color:rgb(70, 67, 67);
  margin-bottom: -3px !important;
  margin-top: -7px !important;
}
.smallCreate1{
  font-size: 12px;
  color:rgb(70, 67, 67);
  margin-bottom: -3px !important;
  margin-top: 0px !important;
}
.smallCreate2{
  font-size: 12px;
  color:rgb(70, 67, 67);
  margin-bottom: -3px !important;
  margin-top: 0px !important;
  margin-left: 15px;
}
.timeBox{
  width: 240px !important;
  
}
.timeBox{ 
  cursor:pointer;
  display: block;
  width:20px;
  color: #ff001f !important;
  text-align:center;
  position:relative;
} 