.underlineEvent {
  width: 220px;
  height: 2px;
  background-color: #ff001f;
}

.inputText {
  border: 1px solid #ff001f !important;
  width: 15rem;
}
.subLabel {
  font-size: 22px;
}
.toggleButton {
  background-color: #ff001f !important;
  border-color: #ff001f !important;
}

/* .formCreate {
  Masukin Background Foto Disini 
}  */

.inputPrepend {
  border: 1px solid #ff001f !important;
  background-color: #ff001f !important;
  color: white !important;
  padding: 0.4rem;
}
.save {
  background: linear-gradient(90deg, #ff001f 50%, rgba(255, 0, 31, 0.85) 120%);
  border-color: #ff001f !important;
}
.orgRow {
  padding-left: 32px;
}
.createEventCard {
  width: 40rem;
  margin: 1rem 0rem 2rem 2rem;
}

.containerCreate {
  border: 1px solid #ff001f !important;
}
/* @media all and (min-width:320px) {
  .containerCreate{
    width: 300px !important;
    margin-left: 10px;
  }
  .descText{
    width: 230px !important;
  }
} */