.message textarea {
  resize: none;
}

.container-contact {
  max-width: 1100px;
  margin-left: 8rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* @media all and (min-width:320px){
  .contactCard{
    width: 350px !important;
    margin-left: -155px !important;
  }
}
@media all and (min-width: 480px){
  .contactCard{
    width: 400px !important;
    margin-left: -100px !important;
  }
  .logoImage{
    width: 300px;
    height: 70px;
  }
  }
  @media all and (min-width: 900px) {
    .contactCard{
      width: 700px;
      margin-left: -280px;
    }
  }
  @media all and (min-width:768px) {
    .contactCard{
      margin-left: -220px;
    }
  } */