.message textarea {
  resize: none;
}

.container-contact {
  max-width: 1100px;
  margin-left: 8rem;
}
@media all and (max-width:320px){
  .contactCard{
    width: 350px !important;
    margin-left: -155px !important;
  }
}
@media all and (max-width: 480px){
  .contactCard{
    width: 400px;
    margin-left: -100px;
  }
  .logoImage{
    width: 300px;
    height: 70px;
  }
  }
  @media all and (max-width: 900px) {
    .contactCard{
      width: 700px;
      margin-left: -280px;
    }
  }
  @media all and (max-width:768px) {
    .contactCard{
      margin-left: -220px;
    }
  }