.navbar {
  height: 5rem;
  box-shadow: 2px 2px 20px #c4c4c4;
}

.brand {
  color: #000000;
  font-size: 3rem;
  text-decoration: none !important;
  font-family: "Allura", cursive;
  text-transform: uppercase;
}

.brand:hover {
  color: #ff001f;
}

.signInButton {
  color: white !important;
  background: linear-gradient(90deg, #ff001f 50%, rgba(255, 0, 31, 0.85) 120%);
  border-color: #ff001f !important;
}
.signInButton:hover {
  background-color: rgba(255, 0, 31, 0.85) !important;
}
