.navbar {
  height: 5rem;
  }

.imageLogo {
  margin-left: 3rem;
}
.linkCreate{
  visibility: visible;
}
.linkCreate2{
  visibility: hidden;
  display: none;
  color: gray;
}
.linkSign{
  display: none;
  visibility: hidden;
}
.signInButton {
  color: white !important;
  background: linear-gradient(90deg, #ff001f 50%, rgba(255, 0, 31, 0.85) 120%);
  border-color: #ff001f !important;
}
.signInButton:hover {
  background-color: rgba(255, 0, 31, 0.85) !important;
}

.logout-button {
  text-decoration: none !important;
  font-size: 24px;
  color: black;
}

.logout-button:hover {
  text-decoration: none !important;
  font-size: 24px;
  color: #ff001f;
}
.navbar-nav{
  background-color: white !important;
  border-radius: 0px 0px 10px 10px;
}
.navDropItem:active {
  background-color: #ff001f !important;
}

.historyButton {
  color: black !;
  text-decoration: none !important;
}

.profileSetting {
  color: black ;
  text-decoration: none !important;
}

.profileSetting:hover {
  color: black !important;
}

.profileSetting:active{
  color: white !important;
}

.historyButton:hover {
  color: black !important;
}

.i-logout:active {
  color: white !important;
}

.searchNav2{
  border-radius: 20rem !important;
  border : 1px solid #ff001f !important;
}

input.searchNav2{
  background-color: white !important;
  margin-left: -10rem !important;
}
  
.searchNav2:focus {
  border-color: #ff001f !important;
  box-shadow: #ff001f !important;
}
.iconSearchNav{
  padding: 0.5rem;
  margin-left: -2rem !important;
  border-radius: 20rem !important;
  font-size: 1.2rem;
  color: #ff001f !important;
}
@media all and (max-width : 321px) {
  .fixed-top{
    height: 150px !important;
  }
.imageLogo{
  height: 70px !important;
  width: 250px;
  margin-top: 10px !important;
}
.showLogin{
  margin-left: -170px !important;
}
.linkCreate2{
  visibility: visible;
  display: block;
}
.linkCreate{
  margin-left: 13px;
  color: gray;
  display: none;
  visibility: hidden;
}
.navbar-nav{
  margin-right: 100px;
  width: 300px !important;
}
.createButton{
  visibility: visible !important;
}
.nav-link{
  margin-right: 500px !important;
}
input.searchNav2{
  display: none;
  visibility: hidden;
}
.iconSearchNav{
  display: none;
  visibility: hidden;
}
.buttonSign{
  visibility: hidden;
  display: none;
}
.linkSign{
  margin-right: 160px;
  color: gray;
}
}
@media only screen and (max-device-width: 480px){
	.imageLogo{
    height: 60px;
    margin-left: 0px !important;
  }
  .navLogo{
    margin-left: 110px;
  }
	.navbar-nav{
		padding-bottom: 5px;
	}
	.signInButton{
		margin-left: 150px;
		margin-top: 10px;
  }
	.signButton {
		margin-right: 170px;
	}
	.navProfile{
		margin-left: 90px !important;
  }
  .brand{
    margin-top: -10px;
    margin-left: -50px;
  }
  input.searchNav2{
    display: none;
    visibility: hidden;
  }
  .iconSearchNav{
    display: none;
    visibility: hidden;
  }
  }
  @media all and (max-width:768px) {
    .imageLogo{
      height: 80px;
      margin-top: -20px;
    }
    .navbar-nav{
      padding-bottom: 5px;
    }
    .signInButton{
      margin-left: 290px;
      margin-top: 10px;
    }
    .navProfile{
      margin-left: 160px;
    }
    input.searchNav2{
      display: none;
      visibility: hidden;
    }
    .iconSearchNav{
      display: none;
      visibility: hidden;
    }
  }
   @media all and (max-width: 900px) {
    .imageLogo{
      height: 70px;
      margin-top:-20px
    }
    .navbar-nav{
      padding-bottom: 5px;
    }
    .signInButton{
      margin-left: 370px;
      margin-top: 10px;
    }
    .navProfile{
      margin-left: 200px;
    }
  } 
 
