.buttonMore {
  background: linear-gradient(90deg, #ff001f 50%, rgba(255, 0, 31, 0.85) 120%);
  border-color: #ff001f !important;
}
.buttonMore::hover {
  background-color: rgba(255, 0, 31, 0.85) !important;
}

.underlineCategory {
  width: 160px;
  height: 2px;
  background-color: #ff001f;
}

.category-card {
  width: 18rem !important;
  max-height: 200px;
}
