.buttonMore{
    background: linear-gradient(90deg, #FF001F 50%, rgba(255, 0, 31, 0.85) 120%);
    border-color: #FF001F !important;
}
.buttonMore::hover{
    background-color: rgba(255, 0, 31, 0.85) !important;
}
.underlineCategory{
    width: 160px; 
    height:2px; 
    background-color: #ff001f;
  }