.trend-background {
  background: url(./../../../image/background2.jpg) no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
  padding: 6rem !important;
}

.trend-background h1 {
  color: white;
  background-color: black;
  padding: 1rem !important;
  margin: 0 20rem;
}

.hostEvent {
  background: rgba(0, 0, 0, 0) !important;
}

.buttonCreate.mx-auto {
  background: linear-gradient(90deg, #ff001f 50%, rgba(255, 0, 31, 0.85) 120%);
  border-color: #ff001f !important;
  width: 12rem;
  font-size: 1.5rem !important;
}

.underlineTrend {
  width: 365px;
  height: 2px;
  background-color: #ff001f;
}
.trendCard {
	box-shadow: 0 5px 5px -2px gray;
	transform: scale(1);
}
.trendCard:hover {
	box-shadow: 2px 2px 20px #c4c4c4;
	transition: transform 0.5s ease;
	transform: scale(1.1);
	z-index: 1;
}
@media all and (max-width:480px) {
.trend-background{
  width: 480px;
  height: 500px;
}

}