.trend-background {
  background: url(./../../../image/AGU-stock-man-presenting-audience.jpg)
    no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
  padding: 6rem !important;
}

.trend-background h1 {
  color: white;
  background-color: black;
  opacity: 0.5;
  padding: 1rem !important;
  margin: 0 20rem;
}

.buttonCreate.mx-auto {
  background: linear-gradient(90deg, #ff001f 50%, rgba(255, 0, 31, 0.85) 120%);
  border-color: #ff001f !important;
  width: 12rem;
  font-size: 1.5rem !important;
}

.underlineTrend {
  width: 365px;
  height: 2px;
  background-color: #ff001f;
}

.trend-card {
  box-shadow: 1px 1px 5px #c4c4c4;
  transform: scale(1);
}
.trend-card:hover {
  /* border: solid 1px #ccc; */
  box-shadow: 2px 2px 20px #c4c4c4;
  transition: transform 0.5s ease;
  transform: scale(1.1);
}
