.detailCardImage{
    width: 50rem !important;
    height: 400px !important;
    object-fit: cover;
    cursor: zoom-in;
}

img.imagePreview{
    width: 100%;
    height: 100%;
}


/* Chrome, Safari, Edge, Opera */
input.phone::-webkit-outer-spin-button,
input.phone::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.phone[type=number] {
  -moz-appearance: textfield;
}

@media (min-width : 1200px){
    .cardDetail{
        width: 70rem !important;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .detailCardImage{
        width: 40rem !important;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .detailCardImage{
        width: 30rem !important;
        height: 280px !important;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .detailCardImage{
        width: 29rem !important;
        height: 300px !important;
    }
}

@media (min-width : 430px) and (max-width: 575.98px) {
    .cardDetail{
        width: 25rem !important;
    }
    .detailCardImage{
        width: 22.5rem !important;
        height: 300px !important;
    }
}

@media (min-width : 350px) and (max-width: 429.98px) {
    .cardDetail{
        width: 20rem !important;
    }
    .detailCardImage{
        width: 17.5rem !important;
        height: 300px !important;
    }
}

@media (min-width : 319px) and (max-width: 349.98px) {
    .cardDetail{
        width: 17rem !important;
    }
    .detailCardImage{
        width: 14.5rem !important;
        height: 300px !important;
    }
}

/* @media all and (min-width: 769px) {
    .detailCardImage{
        width: 560px !important;
        
    }
    .cardDetail{
        width: 600px !important;
    }
    .containerCard{
        margin-left: 70px !important;
    }
    .rowShare{
        display: flex !important;
        
        padding-left: 170px;
    }
}
@media all and (min-width:320px){
    .rowShare{
        display: flexbox !important;
        width: 250px !important;
    }
    .classShare{
        width: 200px !important;
    }
    .detailCardImage{
        width: 250px !important;
        height: 250px !important;
    }
    .cardDetail{
        width: 290px !important;
    }
    .containerCard{
        margin-left: 0px !important;
    }
} */