.detailCardImage{
    height: 400px !important;
    width: 100%;
    object-fit: cover;
}

img.imagePreview{
    width: 100%;
    height: 100%;
}


/* Chrome, Safari, Edge, Opera */
input.phone::-webkit-outer-spin-button,
input.phone::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.phone[type=number] {
  -moz-appearance: textfield;
}

@media all and (min-width: 769px) {
    .detailCardImage{
        width: 560px !important;
        
    }
    .cardDetail{
        width: 600px !important;
    }
    .containerCard{
        margin-left: 70px !important;
    }
    .rowShare{
        display: flex !important;
        
        padding-left: 170px;
    }
}
@media all and (min-width:320px){
    .rowShare{
        display: flexbox !important;
        width: 250px !important;
    }
    .classShare{
        width: 200px !important;
    }
    .detailCardImage{
        width: 250px !important;
        height: 250px !important;
    }
    .cardDetail{
        width: 290px !important;
    }
    .containerCard{
        margin-left: 0px !important;
    }
}