html,
body {
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar {
	width: 8px;
	background-color: whitesmoke;
}
::-webkit-scrollbar-thumb {
	background: linear-gradient(#ff001f 50%, rgba(255, 0, 31, 0.85) 120%);
	border-radius: 6px;
}
:hover::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(#d4031b 50%, rgba(190, 3, 25, 0.85) 120%);
}

.card {
	border-radius: 10px !important;
	overflow: hidden;
	color: black;
}
.card-body {
	background-color: #e3e3e3;
}
.buttonSearch {
	border-radius: 20rem !important;
}
.main-background {
	background: url(./../../../image/backgroundhome.jpg) no-repeat;
	position: relative;
	background-size: cover;
	background-position: center;
	height: 32rem;
}

.main-background h1 {
	color: white;
	font-weight: 700;
}

.mainInput {
	width: 35rem !important;
	padding: 1.7rem 4rem !important;
	border-radius: 20rem !important;
}
.mainInput:focus {
	border-color: #ff001f !important;
	box-shadow: #ff001f !important;
}
.mainSearch {
	margin-left: -34rem;
	color: black;
	border: none !important;
	color: #ff001f !important;
}

.mainSearch:hover {
	color: white !important;
	background-color: #ff001f !important;
}

.underlineMain {
	width: 255px;
	height: 2px;
	background-color: #ff001f;
}

.rowEvent {
	margin-left: -100px !important;
	margin-right: -100px !important;
	padding-left: 15px;
}

.card-deck img {
	height: 280px;
}

.main-card {
	box-shadow: 0 5px 5px -2px gray;
	transform: scale(1);
}

.mainBody {
	height: 280px;
}

.main-card:hover {
	box-shadow: 2px 2px 20px #c4c4c4;
	transition: transform 0.5s ease;
	transform: scale(1.1);
	z-index: 1;
}

.buttonMore {
	color: white !important;
	background: linear-gradient(90deg, #ff001f 50%, rgba(255, 0, 31, 0.85) 120%);
	border-color: #ff001f !important;
}

@media (min-width: 1200px) and (max-width: 1500) {
	.container {
		max-width: 1300px !important;
	}
}

@media (min-width: 1000px) and (max-width: 1199px) {
	.container {
		max-width: 1200px !important;
	}

}
@media all and (max-width:480px) {
	.main-card{
		margin-left: 60px;
		width: 400px !important;
	}
	}
.cardImg {
	transform: scale(1);
}

/* #cardContainer {
	margin-right: 35px;
} */
