html,
body {
  margin: 0;
  padding: 0;
}
.card {
  border: 1px solid #ff001f !important;
  border-radius: 10px !important;
  overflow: hidden;
}

.buttonSearch {
  border-radius: 20rem !important;
}

.main-background {
  background: url(./../../../image/quoteimages.jpg) no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
  height: 23rem;
}

.main-background h1 {
  color: white;
  font-weight: 700;
}

.mainInput {
  width: 35rem !important;
  padding: 1.7rem 4rem !important;
  border-radius: 20rem !important;
}

.mainSearch {
  margin-left: -34rem;
  color: black;
  border: none !important;
}

.mainSearch:hover {
  color: #ff001f;
  background-color: #ff001f !important;
}

.underlineMain {
  width: 255px;
  height: 2px;
  background-color: #ff001f;
}

img {
  height: 300px;
}
img {
  transition: transform 1s, filter 2s ease-in-out;
  filter: blur(2px);
  transform: scale(1.1);
}
img:hover {
  filter: blur(0);
  transform: scale(1);
}
